<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse" style="">
      <div class="position-sticky pt-3">
        <div class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            All tasks
          </a>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <%= link_to "trier", tasks_path(urgence: "true") %>
        </button>
        <ul class="nav flex-column">
        <% @tasks.each do |task| %>
          <li class="nav-item task_show nav-link" data-id="<%=task.id %>">
              <%=link_to "#{task.task_name}", task%>
          </li>

     <% end %>
        </ul>
        <button class=""><%=link_to "Nouvelle tâche", new_task_path , class:"menu__link"%></button>
      </div>
</nav>
