  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">

              <li class="nav-item">
                <%=@step.task.task_name %>
                </li>
                <%= render 'step' %>
          </ul>
      </div>
  </nav>
